@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
.title span {
  color: #757693;
}

.slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50px);
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #cccccc;
}

.slick-dots button {
  font-size: 0;
}

.slick-dots .slick-active {
  width: 20px;
  background-color: #007aff;
}

.content__buttom li {
  margin-bottom: 20px;
}

.Popu {
  rotate: 90px;
=======
* {
  margin: 0;
  padding: 0;
  /* font-family: "Oswald", sans-serif; */
  text-decoration: none;
  /* overflow: hidden; */
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}
.banner__text h1 span {
  position: relative;
  z-index: 99;
}
.banner__text h1 span::before {
  position: absolute;
  bottom: 0;
  background-color: #adfff8;
  height: 10px;
  z-index: -1;
}
.features__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.boilerplate__text {
  margin-left: 40px;
}
#knowmoreButton:hover span {
  animation: leftToRight 0.3s;
}
@keyframes leftToRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(20px);
  }
}
.trusted__img1 {
  position: absolute;
  top: -100px;
  width: 300px;
}
.trusted__img2 {
  position: absolute;
  bottom: -100px;
  right: 0;
  width: 150px;
}
.trusted__content {
  background-image: linear-gradient(
      to bottom,
      rgba(96, 210, 255, 0.52),
      rgba(255, 255, 255, 0.73)
    ),
    url("../img/dot.png");
  background-size: cover; /* Ensures the image covers the whole area */
  background-position: center; /* Centers the image */
  border-radius: 10px;
>>>>>>> d47df559d233eb42d79fa3cfe3c4a9a43b45a88d
}
